.mt-h-38 .mt-logo { text-align: center; }
.mt-h-38 .logo,
.logo, .logo_responsive, .logo_black, .logo_responsive_black { float: inherit; }
.mt-h-38 .mt-mb { border-top: 1px solid #f0f0f0; padding: 20px 0px; }
.mt-h-38 .mt-mb .mt-search-2 { 
	text-transform: uppercase;
	width: 180px;
	border: 1px solid #e0e0e0; 
	color: #d0d0d0; 
	background:white; 
	font-size: 11px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.mt-h-38 ul.sf-menu li a, .mt-h-38 div.sf-menu ul li a, .mt-h-38 ul.sf-menu li.current-cat > a, .mt-h-38 div.sf-menu ul li.current-cat > a, .mt-h-38 ul.sf-menu li.current-menu-item > a, .mt-h-38 div.sf-menu ul li.current-menu-item > a, .mt-h-38 ul.sf-menu li.current_page_item > a, .mt-h-38 div.sf-menu ul li.current_page_item > a, .mt-h-38 ul.sf-menu li.current-menu-ancestor > a, .mt-h-38 div.sf-menu ul li.current-menu-ancestor > a, .mt-h-38 ul.sf-menu li a:hover, .mt-h-38 div.sf-menu ul li a:hover{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #ffffff!important;
}

.mt-h-38 .mt-mm .mt-shop-1,
.mt-h-38 .mt-mm .mt-m-login2-right {
	border: 1px solid white; 
	color: white;
	width: 35px;
	font-size:12px;
	padding: 8px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.mt-h-38 .mt-mb .mt-m-nav { padding-left: 20px; }
.mt-h-38 .mt-m-col1,
.mt-h-38 .mt-m-col3 { width: 40%; }
.mt-h-38 .mt-m-col2 { width: 20%; }
.mt-h-38 .mt-mb ul.sf-menu a, 
.mt-h-38 .mt-mb div.sf-menu ul a,
.mt-h-38 .mt-m-login-right { font-weight: 400!important; font-size: 11px; }
.mt-h-38 .mt-mm  .mt-social li { padding: 0px; }
.mt-h-38 .mt-mm  .mt-social li a { 
	font-size: 12px; 
	color: white; 
	border: 1px solid white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 8px 0px!important;
	width: 35px;
	text-align: center; 
	display: inline-block;
}
.mt-h-38 .mt-mm .mt-shop-1,
.mt-h-38 .mt-mb,
.mt-h-38 .mt-mb .mt-m-nav,
.mt-h-38 .mt-mb .mt-search-2,
.mt-h-38 .mt-mm .mt-m-social-left,
.mt-h-38 .mt-mm .mt-m-login2-right { display: inherit; }

.mt-h-38 .mt-m-button,
.mt-h-38 .mt-mm .mt-search-1  { display: none!important }