.mt-h-40 .logo,
.logo, .logo_responsive, .logo_black, .logo_responsive_black { float: inherit; }
.mt-h-40 .mt-logo { text-align: center; }
.mt-h-40 .mt-m-col1,
.mt-h-40 .mt-m-col3 { width: 40%; }
.mt-h-40 .mt-m-col2 { width: 20%; }
.mt-h-40 .mt-mb .sf-menu { margin-left: 0px!important; text-align: center; float:none; }
.mt-h-40 .mt-mb .sf-menu li{ float: inherit; display: inline-block; }
.mt-h-40 .mt-mb .mt-m-nav { float:none; padding: 10px 0px; }
.mt-h-40 .mt-mm  .mt-social li a { font-size: 14px; color: white}
.mt-h-40 .mt-mm .mt-m-social-right,
.mt-h-40 .mt-mm .mt-m-phone-left,
.mt-h-40 .mt-mm .mt-m-mail-left,
.mt-h-40 .mt-mb,
.mt-h-40 .mt-mb .mt-m-nav{ display: inherit; }

.mt-h-40 .mt-m-mail-left,
.mt-h-40 .mt-m-phone-left { color: white; }

.mt-h-40 .mt-social {
    margin-left: 25px!important;
    margin-right: 15px!important;
    margin-top: 1px!important;
}

.mt-h-40 .mt-mm .mt-search-1  { display: none!important }