.mt-h-31 .logo_black { float: inherit; }
.mt-h-31 .mt-logo { text-align: center; }
.mt-h-31 .mt-m-col1,
.mt-h-31 .mt-m-col3 { width: 40%; }
.mt-h-31 .mt-m-col2 { width: 20%; }
.mt-h-31 .mt-mm .mt-m-nav-second { float: left; }
.mt-h-31 .mt-mm .mt-m-nav-first { float: right; }
.mt-h-31 .mt-mm .sf-menu { margin-left: 0px!important; }
.mt-h-31 .mt-mm .mt-m-nav-first,
.mt-h-31 .mt-mm .mt-m-nav-second { display: inherit; }

.mt-h-31 .mt-m-button,
.mt-h-31 .mt-mm .mt-search-1,
.mt-h-31 .mt-desctop .mt-m-small,
.mt-h-31 .mt-mm .mt-shop-1,
.mt-h-31 .mt-mm .mt-m-language-right{ display: none!important }