.mt-h-27 ul.sf-menu li a, .mt-h-27 div.sf-menu ul li a, .mt-h-27 ul.sf-menu li.current-cat > a, .mt-h-27 div.sf-menu ul li.current-cat > a, .mt-h-27 ul.sf-menu li.current-menu-item > a, .mt-h-27 div.sf-menu ul li.current-menu-item > a, .mt-h-27 ul.sf-menu li.current_page_item > a, .mt-h-27 div.sf-menu ul li.current_page_item > a, .mt-h-27 ul.sf-menu li.current-menu-ancestor > a, .mt-h-27 div.sf-menu ul li.current-menu-ancestor > a, .mt-h-27 ul.sf-menu li a:hover, .mt-h-27 div.sf-menu ul li a:hover{
	margin: -25px 1px!important;
	padding: 36px 20px;
}
.mt-h-27 .mt-mm ul.sf-menu li.current-cat > a, 
.mt-h-27 .mt-mm div.sf-menu ul li.current-cat > a, 
.mt-h-27 .mt-mm ul.sf-menu li.current-menu-item > a, 
.mt-h-27 .mt-mm div.sf-menu ul li.current-menu-item > a, 
.mt-h-27 .mt-mm ul.sf-menu li.current_page_item > a, 
.mt-h-27 .mt-mm div.sf-menu ul li.current_page_item > a, 
.mt-h-27 .mt-mm ul.sf-menu li.current-menu-ancestor > a, 
.mt-h-27 .mt-mm div.sf-menu ul li.current-menu-ancestor > a, 
.mt-h-27 .mt-mm ul.sf-menu li a:hover, 
.mt-h-27 .mt-mm div.sf-menu ul li a:hover { background:#222222;  }
.mt-h-27 .mt-mm .mt-m-nav,
.mt-h-27 .mt-mm .mt-search-1 { display: inherit; }

.mt-mm .mt-m-nav { margin-top: 0px; }