.mt-h-5 .mt-m-frame.mt-desctop .mt-mm,
.mt-fixed-fix.mt-fixed .mt-m-frame.mt-desctop .mt-mm { width: 1180px!important; margin-left:auto; margin-right: auto; }

.mt-m-frame.mt-desctop .container { width: 1180px!important}
.mt-m-left .mt-m-frame.mt-desctop .container { width: auto!important}

.mt-m-col3 { padding-right: 20px!important; }
.mt-m-col1 { padding-left: 5px!important; }

.mt-h-5 .mt-mm .mt-m-nav,
.mt-h-5 .mt-mm .mt-search-1 { display: inherit; }
.mt-h-5 .mt-desctop { margin-top: 20px;}

.mt_menu_fixed { position: absolute; }

.mt-fixed-fix.mt-fixed.mt-h-5 .mt-content-frame{ padding-top: 0px }