.mt-h-50 .mt-mm { padding: 35px 0px 57px; }
.mt-h-50 .mt-mt ul.sf-menu a, 
.mt-h-50 .mt-mt div.sf-menu ul a { font-weight: 400!important; font-size: 11px; }
.mt-h-50 .mt-mt { background: #f5f5f5!important; padding: 5px 0px; }
.mt-h-50 .mt-mt .mt-m-text-left { padding: 7px 0px; font-size: 12px; }
.mt-h-50 .mt-mm  .mt-social li { padding: 0px; }
.mt-h-50 .mt-mm  .mt-social li a,
.mt-h-50 .mt-mm .mt-m-phone-right i,
.mt-h-50 .mt-mm .mt-m-mail-right i { 
	font-size: 12px; 
	color: #a0a0a0; 
	background: #f5f5f5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 9px 0px!important;
	width: 35px;
	text-align: center; 
	display: inline-block;
}
.mt-h-50 .mt-mm .mt-m-phone-right i,
.mt-h-50 .mt-mm .mt-m-mail-right i  { padding: 11px 0px!important;}
.mt-h-50 .mt-mm .mt-m-phone-right,
.mt-h-50 .mt-mm .mt-m-mail-right { font-size: 12px; padding-right:40px; margin-right: 40px; border-right: 1px solid #f5f5f5; }
.mt-h-50 .mt-mb .mt-search-2 { 
	width: 180px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.mt-h-50 .mt-mb ul.sf-menu li a, .mt-h-50 .mt-mb div.sf-menu ul li a { padding: 21px 40px;}
.mt-h-50 .mt-mb ul.sf-menu li, .mt-h-50 .mt-mb div.sf-menu ul li { border-right:1px solid #575757!important; margin: -10px 0px -10px; }
.mt-h-50 .mt-mb ul.sf-menu li:last-child, .mt-h-50 .mt-mb div.sf-menu ul li:last-child { border-right:0px solid #575757!important; }
.mt-h-50 .mt-mm .mt-m-phone-right,
.mt-h-50 .mt-mm .mt-m-mail-right,
.mt-h-50 .mt-mm .mt-m-social-right,
.mt-h-50 .mt-mb,
.mt-h-50 .mt-mb .mt-m-nav,
.mt-h-50 .mt-mb .mt-search-2 { display: inherit; }
.mt-h-50 .mt-mb {  width: 1170px; margin: 0px auto 0px; border-radius: 30px;  margin-top: -27px; margin-bottom: -28px;}
/* END MENU MIDDLE */
@media only screen and (min-width: 1200px) { 
.mt-h-50 #header-title{
  padding-top: 27px!important;
}
}

.mt-h-50 .mt-mm .mt-search-1 { display: none!important }