.mt-h-59 .mt-modal-menu-2 { background: #222; }
.mt-h-59 .mt-module-menu a { color: white; }
.mt-h-59 .logo { float: inherit; }
.mt-h-59 .logo_black { float: inherit; }
.mt-h-59 .mt-logo { text-align: center; }
.mt-h-59 .mt-m-col1,
.mt-h-59 .mt-m-col3 { width: 40%; }
.mt-h-59 .mt-m-col2 { width: 20%; }
.mt-h-59 .mt-mm .mt-m-nav-second { float: left; }
.mt-h-59 .mt-mm .mt-m-nav-first { float: right; }
.mt-h-59 .mt-mm .sf-menu { margin-left: 0px!important; }
.mt-h-59 .mt-mm .mt-m-small-2,
.mt-h-59 .mt-mm .mt-search-3  { display: inherit; }
.mt-h-59 .mt-m-small-2 { font-size: 21px; cursor: pointer; margin-top: -3px; position:relative; line-height:1;}
.mt-h-59 .mt-mm .mt-search-3 { font-size: 18px; cursor: pointer;  color:white; line-height:1; }
.mt-h-59 .mt-m-frame.mt-desctop { width: 100%; }
.mt-h-59.mt-fixed .mt-m-frame.mt-desctop { position: fixed; width: 100%; }
.mt-h-59.mt-down .mt-mm { padding: 15px 0px;}
.mt-h-59.mt-down .mt-logo img { width: auto!important; height: 30px!important}
.mt-h-59.mt-fixed.mt-down .mt-fixed-header { display: none!important; }
.mt-h-59.mt-down .mt-m-small-2 { margin-top: -1px; }
.mt-h-59.mt-down .mt-m-small-2,
.mt-h-59.mt-down .mt-mm .mt-search-3 { padding-top: 0px}

@media (min-width: 1200px) {
	.mt-m-left-cool .mt-content-frame {
	  margin-left: 70px!important;
	  position: relative;
	  z-index: 101;
	  overflow: hidden;
	}
	
	
}
.mt-m-left-cool-off .mt-m-frame.mt-desctop {
	left: -200px!important;
}
.mt-m-left-cool-on .mt-m-frame.mt-desctop{ left: 0px!important; }
.mt-m-left-cool .mt-m-cool-menu { 
	display: block; 
	width: 22px;  
	float: right; 
	position: absolute; 
	cursor:pointer; 
	top: 10px;
	width: 40px;
	height: 40px;
}
.mt-m-left-cool .mt-m-cool-logo  { display: block;  bottom: 60px; right: 10px;   float: right; position: absolute; cursor:pointer; width: 50px;}
.mt-m-left-cool .mt-m-cool-logo img { width: 100%!important; height:auto!important}

.mt-m-left-cool-on .mt-m-cool-logo { 
	right: 300px!important; 	
}

.mt-m-left-cool-off .mt-m-cool-logo { 
	right: 10px!important; 	
}

.mt-m-left-cool-on .mt-m-cool-menu { 
	right: 215px!important; 	
}
.mt-m-left-cool-off .mt-m-cool-menu { 
	right: 15px!important; 	
}

.mt-m-left-cool.mt-m-left .mt-mm-left-class.mt-mm {  padding: 70px 30px 40px; }


.mt-m-cool-menu:hover .mt-m-cool-button-line:before,
.mt-m-small-2:hover .mt-m-cool-button-line:before  { top: -8px;}
.mt-m-cool-menu:hover .mt-m-cool-button-line:after,
.mt-m-small-2:hover .mt-m-cool-button-line:after  { bottom: -8px; }

.mt-m-left .mt-m-cool-button-line { margin-left:8px; }
.mt-m-cool-button-line {
  position: absolute;
  font-size: 30px;
  display: block;
  top: 50%;
  width: 22px;
  height: 3px;
  background: #303030;
}

.active .mt-m-cool-button .mt-m-cool-button-line {
  background: rgba(220,151,31,0);
}

.active .mt-m-cool-button .mt-m-cool-button-line:after {
  bottom: -8px;
}

.active .mt-m-cool-button .mt-m-cool-button-line:after {
  -webkit-transform: rotate(-45deg) translate(2px,-8px);
  -moz-transform: rotate(-45deg) translate(3px,-8px);
  -ms-transform: rotate(-45deg) translate(3px,-8px);
  -o-transform: rotate(-45deg) translate(3px,-8px);
  transform: rotate(-45deg) translate(3px,-8px);
}

.active .mt-m-cool-button .mt-m-cool-button-line:before {
  top: -8px;
}
.active .mt-m-cool-button .mt-m-cool-button-line:before {
  -webkit-transform: rotate(45deg) translate(4px,9px);
  -moz-transform: rotate(45deg) translate(3px,8px);
  -ms-transform: rotate(45deg) translate(3px,8px);
  -o-transform: rotate(45deg) translate(3px,8px);
  transform: rotate(45deg) translate(3px,8px);
}

.mt-m-cool-button-line, 
.mt-m-cool-button-line:after, 
.mt-m-cool-button-line:before {
  background-color: #000000;
}

.mt-m-cool-button-line, 
.mt-m-cool-button-line:before, 
.mt-m-cool-button-line:after {
  -webkit-transition: all .3s cubic-bezier(0.580,-0.605,0.420,1.660);
  -moz-transition: all .3s cubic-bezier(0.580,-0.605,0.420,1.660);
  -ms-transition: all .3s cubic-bezier(0.580,-0.605,0.420,1.660);
  -o-transition: all .3s cubic-bezier(0.580,-0.605,0.420,1.660);
  transition: all .3s cubic-bezier(0.580,-0.605,0.420,1.660);
}

.mt-m-cool-button-line:after {
  bottom: -6px;
}

.mt-m-cool-button-line:before {
  top: -6px;
}

.mt-m-cool-button-line:after, 
.mt-m-cool-button-line:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #303030;
  left: 0;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.mt-dark .mt-m-cool-button-line, 
.mt-dark .mt-m-cool-button-line:after, 
.mt-dark .mt-m-cool-button-line:before {
	background: white; 
}

.mt-h-59 .mt-mm .mt-search-1,
.mt-h-59 .mt-desctop .mt-m-small,
.mt-h-59 .mt-mm .mt-shop-1 { display: none!important }

/*Menu 58,59 Modal*/
.mt-logo, .mt-m-small-2 { position:relative; z-index:2 }
.mt-modal-menu-2 { 
	background:#fff; 
	height:100%; 
	width:100%; 
	visibility:hidden; 
	position: fixed; 
	z-index:1; 
	opacity:0;
}
.mt-modal-menu-2-on { 
	margin-top:0px; 
	opacity:1;
	visibility:visible;
}
.mt-modal-menu-2-off {
	visibility:hidden; 
	opacity:0;
}
.menu-menu-container { height: 100%; width: 100%; display: table }
.mt-module-menu { margin: 0px; padding: 0px; text-align:center; position:relative; vertical-align:middle; position:relative;   display: table-cell }
.mt-module-menu a{ font-size: 36px; text-transform: uppercase; font-weight: bold; letter-spacing: 3px }
.mt-modal-menu-2 { margin: 0px; padding: 0px; text-align:center }
.mt-modal-menu-2 .menu-header-menu-container { display: table; height:100%; width: 100%; display: table }
/*END Menu 58,59 Modal*/
